.contributorCard {
  height: 100%;
  justify-content: center;
  text-align: center;
}

.propic {
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  max-height: 35vh;
}

#linkedinlink {
  font-size: 1.5vh;
  font-weight: bold;
  text-decoration: underline;
}
