.aboutHeader {
  margin-top: 4vh;
  font-weight: bold;
  color: black;
  font-family: "Playfair Display", serif;
  height: 10vmin;
  font-size: 4vh;
  text-align: center;
}

#aboutprofiles > .row {
  align-items: center;
  justify-content: center;
  margin: 5vh;
}

#commitBox {
  justify-content: center;
  text-align: center;
}
