.background-photo {
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0vh;
  top: 0vh;

  opacity: 0.9;
}

.landingCol {
  padding: 5rem;
  background-color: #2e294e;
  text-align: left;
  max-width: 100;
  color: white;
}

#slogan1 {
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  font-size: clamp(18px, 10vw, 120px);
}

#slogan2 {
  font-weight: 900;
  font-size: 1.5em;
  max-width: 150vh;
}

#slogan3 {
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  font-size: 4em;
  text-align: center;
}

#slogan4 {
  font-weight: 400;
  font-size: 1.4em;
  max-width: 150vh;
  max-width: 50vw;
}

#landingRow1 {
  padding: 1.5vw;
  background: repeating-linear-gradient(
    45deg,
    #a42836,
    #a42836 1.5em,
    white 1.5em,
    white 3em
  );
}

.landingRow {
  align-items: center;
  justify-content: center;

  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100vh;
  border-bottom: 1px solid #b3b3b3;
}
#landingRow2 {
  background-color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}
#landingRow3 {
  background-color: #f5e9e2;
}

#usamap {
  width: 80%;
}
