.picCard {
  height: 100%;

  text-align: center;
  justify-content: center;
}

.picCard:hover {
  box-shadow: 0vh 1vh 1vh lightblue;
  border: 1px solid #e0e0e0;
}

.resourcePic {
  overflow: hidden;
  object-fit: cover;
  align-self: center;
}

.resourceTitle {
  font-weight: 900;
  font-size: 3vh;
  font-family: "Playfair Display", serif;
}
