.navbar-brand {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2em;
}

.nav-link {
  color: #2e294e;
}

.nav-link:hover {
  color: #35a7ff;
}

.navbar {
  z-index: 1;
  opacity: 1;
  position: fixed;
  width: 100%;
  /* background-color:#f5e9e2; */
  background-color: #bfd4db;
}
