.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframe-container {
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}
