.politicianCard {
  margin: 1.5rem;
  height: 100%;
}

.politician-header {
  text-align: left;
}

.politician-name {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.politician-portrait {
  border-radius: 5px;
  width: 100%;
}

.electionCard {
  height: auto;
}

.politicialDetailCard {
  background: white;
}
