@import url(
  "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: left;
  margin: 3rem 0rem 3rem 0rem;
}

.card-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.filter {
  text-align: left;
}

.search-container {
  padding: 0em 0 4em 0;
}