.result-container {
  padding: 2em 0em 2em 0em;
  display: block;
}

.search > h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: left;
}

hr.solid {
  border-top: 3px solid #bbb;
}
